<!DOCTYPE html>
<html>

<head>
    <title>Lista de Clientes</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <script th:src="@{/css/jquery.min.js}"></script>
    <script th:src="@{/css/bootstrap.min.js}"></script>
</head>

<body>
    <div class="text-center">
        <h1>Lista de Clientes</h1>
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Numero De Identificacion</th>
                    <th>Tipo De Persona</th>
                    <th>Ubicacion Geográfica</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <th:block th:each="cliente : ${clientes}">
                <tr>
                    <td th:text="${cliente.numIdentificacion}"></td>
                    <td th:text="${cliente.tipoPersona}"></td>
                    <td th:text="${cliente.ubicacionGeografica.ubicacionGeografica}"></td>
                    <td>
                        <a th:href="@{clientes/{numIdentificacion}/edit(numIdentificacion=${cliente.numIdentificacion})}">
                            Editar
                        </a>
                        <a th:href="@{clientes/{numIdentificacion}/delete(numIdentificacion=${cliente.numIdentificacion})}"
                            onclick="return confirm('¿Estás seguro de borrar este cliente?')">
                            Borrar
                        </a>
                    </td>
                </tr>
            </th:block>

        </table>
        <div>
            <a th:href='@{/}' class="btn btn-primary">Volver Atrás</a>
        </div>
        <br/>

    </div>
</body>

</html>