<!DOCTYPE html>
<html>

<head>
    <title>Lista de empleados</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <script th:src="@{/css/jquery.min.js}"></script>
    <script th:src="@{/css/bootstrap.min.js}"></script>
</head>

<body>
    <div class="text-center">
        <h1>Lista de empleados</h1>
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Tipo de Empleado</th>
                    <th>Número de Identificacion</th>
                    <th>Oficina</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <th:block th:each="empleado : ${empleados}">
                <tr>
                    <td th:text="${empleado.tipoEmpleado}"></td>
                    <td th:text="${empleado.numIdentificacion}"></td>
                    <td th:text="${empleado.oficina.nombre}"></td>
                    <td>
                        <a th:href="@{empleados/{numIdentificacion}/edit(numIdentificacion=${empleado.numIdentificacion})}">
                            Editar
                        </a>
                        <a th:href="@{empleados/{numIdentificacion}/delete(numIdentificacion=${empleado.numIdentificacion})}"
                            onclick="return confirm('¿Estás seguro de borrar este empleado?')">
                            Borrar
                        </a>
                    </td>
                </tr>
            </th:block>

        </table>
        <div>
            <a th:href='@{/}' class="btn btn-primary">Volver Atrás</a>
        </div>
        <br/>

    </div>
</body>

</html>